{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
        <a href="https://github.com/login/oauth/authorize?client_id={{ GIT_ID }}" type="button" class="btn btn-info btn-lg"><i class="fa fa-github"></i> S'authentifier avec Github</a>
 {% endblock %}
