{% extends 'base.html.twig' %}

{% block title %}Bilemo{% endblock %}

{% block body %}
    {% if access_token %}
        <p>Votre clé d'accès: {{ access_token }}</p>
        <p><a href="{{ path('logout', {'token': access_token }) }}">Logout</a></p>
    {% else %}
        <a href="https://github.com/login/oauth/authorize?client_id={{ GIT_ID }}&scope=user" type="button"
           class="btn btn-info btn-lg"><i class="fa fa-github"></i> S'authentifier avec Github</a>
    {% endif %}
{% endblock %}
